* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
  	background-color: #435165;
    margin:0px;
}

.login_screen{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image:url(http://bit.ly/2gPLxZ4);
}


.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
    z-index: 1;
}
.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}

.login p {
  text-align: center;
}

.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.login form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
 	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}

.login .help-block{
  text-align: center;
  color:red;
  padding: 10px;
}

/*Navigation Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: #111;
  cursor: pointer;
}

.active {
  background-color: #4CAF50;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 93.7px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #4CAF50 !important;
  background-color: white !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_back {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  position: relative;
  left: 0px;
  top: 0px;
}

.button_back:hover {
  background-color: #4CAF50;
  color: white;
}

/*Student forms */
.admin_form {
    width: 60%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.admin_form h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.admin_form p {
  text-align: center;
}


.admin_form input[type=text], select, textarea {
  width: 100%;
  height: 44px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.admin_form input[type=date]{
  height: 44px;
  text-align: center;
  vertical-align: middle;
}

.admin_form label {
  padding: 12px 12px 12px 0;
  display: inline-block;

}

.admin_form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.admin_form input[type=submit]:hover {
  background-color: #45a049;
}

.admin_form .col-md-9 {
  margin-bottom: 10px;
}

.notifier{
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.student_list{
    width: 60%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

/* Formatting search box */
.search-box{
  width: 60%;
  /*background-color: #ffffff;*/
  /*box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);*/
  margin: 100px auto;
}
.search-box input{
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
  width: 100%;
}

.result{      
  z-index: 999;
  margin-top: 100px
}

.search-box input[type="text"], .result{
  width: 100%;
  box-sizing: border-box;
}
/* Formatting result items */
.result p{
  margin: 0;
  padding: 7px 10px;
  border: 1px solid #CCCCCC;
  border-top: none;
  cursor: pointer;
}


table {
  border-collapse: collapse;
  width: 100%;
  padding: 0px;
  margin:0px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

.my_table {
    width: 60%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    /*padding: 10px;*/
}

.my_table h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.general_info .container-fluid{
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  min-height: 155px;

}


