/*Set the font*/
@font-face {
  font-family: 'Cairo';
  src: url(../fonts/Cairo/Cairo-Regular.ttf);
}

* {
  	box-sizing: border-box;
  	font-family: 'Cairo', sans-serif;
  	font-size: 16px;
}
html,
body {
  position: relative;
  min-height: 100%;
  margin:0px;
  padding: 0px;
}

body {
  	background-color: #006c82;
    position: relative;
}


#content{
  position: relative;
  padding: 1px;
}

#footer {
  width:100%;
  height:40px;
  background-color: #333;
  color: white;
  text-align: center;
  overflow:hidden;
  display : flex;
  align-items : center;
}

.footer_text{
  text-align: center;
  margin:auto;
}

/* unvisited link */
.footer_text a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
.footer_text a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
.footer_text a:hover {
  color: #056b80;
  text-decoration: none;
}

/* selected link */
.footer_text a:active {
  color: white;
  text-decoration: none;
}

/*Icons colors*/
.fas, .fa{
  color: #356f5e9e;
}

.fas:hover, .fa:hover{
  color: #356f5e;
}


/*Login Screen*/

.login_screen{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(../images/login_img.jpg);
}

.login {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
    z-index: 1;
    position: relative;
}

.logo1{
  max-width: 40px;
  position: absolute;
  opacity: 0.8;
  left: 20px;
  top:10px
}

.logo2{
  max-width: 55px;
  position: absolute;
  opacity: 0.8;
  color:#006c82 !important;
  right: 20px;
  top:15px;
}

.login h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}

.login p {
  text-align: center;
}

.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}

.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #006c82;
  	color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}

.login form input[type="submit"] {
  	width: 100%;
  	padding: 10px;
 	  margin-top: 20px;
  	background-color: #006c82;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
	background-color: #2868c7;
  	transition: background-color 0.2s;
}

.login .help-block{
  text-align: center;
  color:red;
  padding: 10px;
}

.login .fas{
  color: white;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

/*Navigation Bar*/
#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#header li {
  float: left;
}

#header li a, #header .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header li a:hover:not(.active), #header .dropdown:hover #header .dropbtn {
  background-color: #111;
  cursor: pointer;
}

#header .active {
  background-color: #4CAF50;
}


#header li.dropdown {
  display: inline-block;
}

#header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 93.7px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#header .dropdown-content a:hover {
  color: #4CAF50 !important;
  background-color: white !important;
}

#header .dropdown:hover .dropdown-content {
  display: block;
}

#header .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

#header .button_back {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  position: relative;
  left: 0px;
  top: 0px;
}

#header .button_back:hover {
  background-color: #4CAF50;
  color: white;
}


/*Teacher page info*/
.general_info .container-fluid{
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin-top: 25px;
}

.general_info h2{
  text-shadow: 0 0 3px #085c6ee3;
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}


/*Student forms */
.admin_form {
    width: 60%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.admin_form h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.admin_form p {
  text-align: center;
}


.admin_form input[type=text], select, textarea {
  width: 100%;
  height: 44px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.admin_form input[type=date]{
  height: 44px;
  text-align: center;
  vertical-align: middle;
}

.admin_form label {
  padding: 12px 12px 12px 0;
  display: inline-block;

}

.admin_form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.admin_form input[type=submit]:hover {
  background-color: #45a049;
}

input[readonly] {
  cursor: not-allowed;
  background-color: #0000002b;
}

.admin_form .col-md-9 {
  margin-bottom: 10px;
}

.notifier{
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.student_list{
    width: 60%;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}


/* Formatting search box */
.search-box{
  width: 60%;
  margin: 100px auto;
}

.search-box input{
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  background-color: #f1f1f1;
  width: 100%;
}

.result{      
  z-index: 999;
  margin-top: 100px
}

.search-box input[type="text"], .result{
  width: 100%;
  box-sizing: border-box;
}

/* Formatting result items */
.result p{
  margin: 0;
  padding: 7px 10px;
  border: 1px solid #CCCCCC;
  border-top: none;
  cursor: pointer;
}

/*Format for tables*/
table {
  border-collapse: collapse;
  width: 100%;
  padding: 0px;
  margin:0px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}

.my_table, .my_table_60 {
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.my_table {
    width: 100%;
}

.my_table_60 {
    width: 60%;
}

.my_table_60 h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
